<html>
<head><title></title></head>
<body>
<p>
#if ( "$!user.getFirstName()" == "" and "$!user.getLastName()" == "" )
	Dear user,<br/>
#else
	Dear $user.getFirstName() $user.getLastName(),<br/>
#end
<br/>
thank you for registering at $siteName.
</p>
<p>
To complete your registration and activate your account, please click on the following link
or copy it to your browser and follow the link.
</p>
<p>
<a href="${activationUrl}?user=$escape.url($user.getUserName())&amp;activationKey=$escape.url($user.getRegistrationKey())">${activationUrl}?user=$user.getUserName()&amp;activationKey=$user.getRegistrationKey()</a>
</p>
<p>
Afterwards, your account should be activated and you can log in to our site with the following credentials:
</p>
<p>
<b>Login</b>: $user.getUserName()<br/>
<b>Password</b>: $plainPassword
</p>
<p>
You can change your auto generated password after logging in using the "Change password" link on the bottom of the page.
</p>
<p>
Your $siteName team
</p>
</body>
</html>
