<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['public.error.pageTitle']}" />
            <ui:param name="pageSubTitle" value="#{i18n['public.error.pageSubTitle']}" />
            <ui:define name="content">
               <div style="margin-bottom: 10px;">
                  <span style="font-weight: bold;">#{i18n['public.error']}:</span> #{not empty sessionScope[param['msgKey']] ? sessionScope[param['msgKey']] : i18n['public.error.genericMsg']}
               </div>
               <h:outputLink value="#{facesContext.externalContext.requestHeaderMap.referer}" rendered="#{not empty facesContext.externalContext.requestHeaderMap.referer}">
                  <h:outputText value="#{i18n['common.backTo']}" />
               </h:outputLink>
            </ui:define>
        </ui:composition>
    </h:body>
</html>