<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!--
	Parameters for this composition:
	via ui:define:
		columns
	via ui:param:
		stockFilter (empty means no selection shown, list of IDataStockMeta)
		mostRecentVersionOnlyFilter
		mostRecentVersionOnlyBackingObject
		appendToBody
		includeMessages
		dataTableId
		backingBean
		lazyDataModel
		selectionProperty
		nameFilterField
		nameFilterActionMethod 
		selectedActionButtonLabel
		actionDialogHeader
		actionDialogMessage
		actionDialogOKLabel
		actionDialogCancelLabel
		actionDialogOKActionMethod
		showDependenciesOption
		moveControls
		publicShowFacelet
		initialRows (optional, default is 15)
		nameProperty (optional, default is name.defaultValue)
		namePropertyField (mandatory if nameProperty is declared, else optional and ignored if set)
		forceRootDsLink
		exportedFileName
		datasetType
	-->

	<!-- CAUTION: This template is being used for: manageXXXXList.xhtml / stockEntry.xhtml (Assigning datasets, 2 times). -->
	<ui:param name="diaOpenBtnId" value="#{dataTableId}btn" />
	<ui:param name="clearTemplateDataTable" value="#{dataTableId}clearFilterBtn" />
	<ui:param name="buttonPanelId" value="#{dataTableId}btns" />
	<ui:param name="listExportFileName" value="#{conf.contextPath2}_#{stockSelection.currentStockName}_#{fn:replace(datasetType, ' ', '_')}" />
	<ui:param name="dialogId" value="#{dataTableId}#{actionDialogOKActionMethod}Confirm" />

	<h:panelGroup rendered="#{moveControls}">
		<ui:include src="confirmDialog.xhtml">
			<ui:param name="action" value="moveSelected"/>
			<ui:param name="dialogHeader" value="#{i18n['admin.confirmDlg.move']}"/>		
			<ui:param name="dialogMessage" value="#{i18n['admin.confirmMsg.move']}"/>
			<ui:param name="allMode" value="false" />
			<ui:param name="jobCheckbox" value="false" />
		</ui:include>
	</h:panelGroup>

	<ui:include src="confirmDialog.xhtml">
		<ui:param name="action" value="#{actionDialogOKActionMethod}" />
		<ui:param name="dialogHeader" value="#{actionDialogHeader}" />
		<ui:param name="dialogMessage" value="#{actionDialogMessage}" />
	    <ui:param name="allMode" value="false" />
	    <ui:param name="jobCheckbox" value="#{actionDialogOKActionMethod == 'deleteSelected' ? 'false' : 'true'}" />
	</ui:include>


	<div class="floatLeft">
		<h:panelGroup id="#{buttonPanelId}">
			<h:outputText value="#{i18n['admin.selected']}  " rendered="#{not lazyDataModel.showDeleteButton }"/>
			
			<p:spacer width="5" height="10" />
			<p:commandButton id="#{diaOpenBtnId}" styleClass="#{diaOpenBtnId}"
				value="#{selectedActionButtonLabel}"
				onclick="PF('#{dataTableId}#{actionDialogOKActionMethod}Confirm').show()"
				type="button"
				disabled="#{lazyDataModel.nothingSelected or (showRegistryControls and applicationInfoBean.showRegistrationControls and processListHandler.registry!=null)}"
				ajax="false" rendered="#{not lazyDataModel.showDeleteButton}">
			</p:commandButton>


			<ui:insert name="additionalButtons" />
		
			<h:panelGroup rendered="#{moveControls}">
				<ui:include src="moveControls.xhtml" />
			</h:panelGroup>
		</h:panelGroup>
	</div>
	
	<ui:fragment rendered="#{mostRecentVersionOnlyFilter}">
		<div class="floatLeft" style="padding: 5px;">
			<h:panelGroup>
				<p:selectBooleanCheckbox
					value="#{mostRecentVersionOnlyBackingObject.mostRecentVersionOnly}"
					itemLabel="#{i18n['common.list.mostrecentversiononly']}">
					<p:ajax update="#{dataTableId}" />
				</p:selectBooleanCheckbox>
			</h:panelGroup>
		</div>
	</ui:fragment>
	<p:commandButton id="#{clearTemplateDataTable}" value="#{i18n['admin.clearFilters']}" onclick="PF('dataTable').clearFilters()" actionListener="#{backingBean.clearAllFilters}" update="#{dataTableId}">
		<p:resetInput target="#{dataTableId}"/>
	</p:commandButton>

	<div class="floatRight">
		<p:menuButton value="#{i18n['admin.export.datasets']}">				    					        
		     <p:menuitem value="#{i18n['admin.export.datasets.pageOnly']}" update="#{dataTableId}" icon="ui-icon ui-icon-calculator" ajax="false" immediate="true">
		     	<p:dataExporter type="xls" target="#{dataTableId}" postProcessor="#{datasetListDocumentView.postProcessXLS}" fileName="#{listExportFileName}_#{i18n['admin.export.datasets.pageOnly.suffix']}" pageOnly="true" />
		     </p:menuitem>
		     <p:menuitem value="#{i18n['admin.export.datasets.all']}" update="#{dataTableId}" icon="ui-icon ui-icon-calculator" ajax="false" immediate="true">
		     	<p:dataExporter type="xls" target="#{dataTableId}" postProcessor="#{datasetListDocumentView.postProcessXLS}" fileName="#{listExportFileName}_#{i18n['admin.export.datasets.all.suffix']}"/>
		     </p:menuitem>
		</p:menuButton>
	</div>
		
	<ui:fragment rendered="#{not empty stockFilter}">
		<div class="floatRight">
			<h:panelGrid columns="2">
				<p:outputLabel value="#{i18n['common.stock.selected']}:"
					for="#{dataTableId}_stockselection" />
				<p:selectOneMenu id="#{dataTableId}_stockselection"
					value="#{lazyDataModel.dataStock}" converter="#{dsMetaConverter}">
					<f:selectItem itemLabel="#{i18n['common.select.hint']}"
						noSelectionOption="true" />
					<f:selectItems value="#{stockFilter}" var="stockItem"
						itemLabel="#{stockItem.name}" itemValue="#{stockItem}" />
					<p:ajax update="#{dataTableId}" />
 				</p:selectOneMenu>
			</h:panelGrid>
		</div>
	</ui:fragment>

	<c:if test="#{includeMessages}">
		<div class="clearLeft bottomclear">
			<ui:include src="/messages.xhtml" />
		</div>
	</c:if>

	<div class="clearLeft">
			<p:dataTable id="#{dataTableId}" styleClass="#{dataTableId}"
				var="dataset" value="#{lazyDataModel}"
				lazy="true" selection="#{selectionProperty}" paginator="true"
				rows="#{empty initialRows ? 15 : initialRows}"
				rowsPerPageTemplate="5,10,15,50,100,500,1000,#{lazyDataModel.rowCount > 1000 ? lazyDataModel.rowCount : null}"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink}
		                 {PreviousPageLink} {PageLinks} {NextPageLink}
		                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']} "
		        currentPageReportTemplate="#{i18n['common.list.currentEntries']}: {totalRecords} 
		        		 (#{countModel.loadTotalElementCount()} #{i18n['common.list.total']})  
		        		 (#{i18n['common.list.page']} {currentPage} #{i18n['common.list.of']} {totalPages})"
				emptyMessage="#{i18n['common.list.noneFound']}"
				resizableColumns="true" sortMode="single" widgetVar="dataTable">

			<p:ajax event="rowSelectCheckbox" process="@this"
				update="@(.#{diaOpenBtnId}) @(.#{dialogId}panel)"/>
			<p:ajax event="rowUnselectCheckbox" process="@this"
				update="@(.#{diaOpenBtnId}) @(.#{dialogId}panel)"/>
			<p:ajax event="toggleSelect" process="@this"
				update="@(.#{diaOpenBtnId}) @(.#{dialogId}panel)" />
				
			<p:column style="text-align: center;" selectionMode="multiple" width="15" exportable="false"/>
			
<!-- 			Only for export. -->
			<p:column headerText="#{i18n['public.dataset.typeOf']}" style="display:none">
				<h:outputText value="#{dataset.dataSetType.value}"/>
			</p:column>

			<p:column id="nameColumnId"	sortBy="#{dataset.name.getValueWithFallback(lang)}"  filterBy="#{dataset.name}"
					exportable="false">
				<f:facet name="header">
					<h:outputText value="#{i18n['common.name']}"/>
					<p:tooltip value="#{i18n['common.name.tooltip']}" for="nameColumnId"/>
				</f:facet>
				<h:link outcome="/#{publicShowFacelet}.xhtml"
					value="#{empty nameProperty ? dataset.name.defaultValue : dataset[nameProperty][namePropertyField]}"
					title="#{dataset.uuidAsString}   #{dataset.version}">
					<f:param name="uuid" value="#{dataset.uuid.uuid}" />
					<f:param name="version" value="#{dataset.version}" />
				    <f:param name="stock" value="#{empty forceDs ? stockSelection.currentStockName : (forceDs == '$root$' ? dataset.rootDataStock.name : forceDs)}" />
				</h:link>
				<div style="margin: 2px 0; font-size: smaller;">
					UUID:
					<h:outputText value="#{dataset.uuid.uuid}" />
				</div>
			</p:column>
			
<!-- 			Only for export. -->
			<p:column headerText="#{i18n['common.uuid']}" style="display:none">
				<h:outputText value="#{dataset.uuid.uuid}"/>
			</p:column>
			
<!-- 			Only for export. -->			
			<p:column headerText="#{i18n['admin.proc.version']}" sortBy="#{dataset.version}"
			 	style="display:none" width="55">
				<h:outputText value="#{dataset.version}" />
			</p:column>
			
<!-- 			Only for export. -->
			<p:column headerText="#{i18n['common.name']}" style="display:none">
				<h:outputText value="#{empty nameProperty ? dataset.name.defaultValue : dataset[nameProperty][namePropertyField]}"/>
			</p:column>

			<ui:insert name="columns">columns</ui:insert>

			<p:column headerText="#{i18n['admin.proc.version']}" sortBy="#{dataset.version}" rendered="#{conf.displayConfig.showManageDatasetVersion}" width="55"
				exportable="false">
				<h:outputText value="#{dataset.version}" />
			</p:column>

			<p:column headerText="#{i18n['admin.proc.mostrecent']}" sortBy="#{dataset.mostRecentVersion}" filterBy="#{dataset.mostRecentVersion}" filterMatchMode="exact" rendered="#{conf.displayConfig.showManageDatasetMostRecentVersion}" width="50">
				<f:facet name="filter">
	                <p:selectOneMenu id="filter" onchange="PF('dataTable').filter();">
	                	<f:converter converterId="javax.faces.Boolean" />
    			        <f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.all']}" itemValue="#{null}" />
      		        	<f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.true']}" itemValue="#{true}" />
      		        	<f:selectItem itemLabel="#{i18n['common.list.mostrecentversiononly.false']}" itemValue="#{false}" />
                    </p:selectOneMenu>
	            </f:facet>
				<h:outputText value="#{dataset.mostRecentVersion.toString()}" />
			</p:column>

			<p:column headerText="#{i18n['admin.stock.root']}" sortBy="#{dataset.rootDataStock.name}"
			filterBy="#{dataset.rootDataStock.name}" rendered="#{conf.displayConfig.showManageDatasetRootStock}" width="100"
			exportable="false">
  				<f:facet name="filter">
	                <p:selectOneMenu onchange="PF('dataTable').filter()" >
	                    <f:selectItem itemLabel="#{i18n['public.proc.list.filter.selectone']}" itemValue="#{null}" noSelectionOption="true" />
	                    <f:selectItems value="#{backingBean.stockHandler.rootDataStocks}" />
	                </p:selectOneMenu>
            	</f:facet>
				<h:outputLink id="stockid" value="#">
					<h:outputText value="#{dataset.rootDataStock.name}" />
				</h:outputLink>
				<p:tooltip id="toolTipStock" for="stockid" value="#{dataset.rootDataStock.longTitle.defaultValue}" />
			</p:column>

            <p:column headerText="#{i18n['admin.stock.root']}" visible="false" >
	            <h:outputText value="#{dataset.rootDataStock.name}" />
            </p:column>

			<p:column headerText="#{i18n['admin.stock.containedIn']}" rendered="#{conf.displayConfig.showManageDatasetContainedIn and lazyDataModel.class.name.endsWith('AdminLazyDataModel')}" exportable="false" width="110">
				<ui:repeat value="#{dataset.containingDataStocks.toArray()}" var="stock">
					<ui:fragment rendered="#{stock.name ne dataset.rootDataStock.name}">
						<h:outputLink id="cstockid" value="#">
							<h:outputText value="#{stock.name}" /><br/>	
						</h:outputLink>
						<p:tooltip id="toolTipStock" for="cstockid" value="#{stock.longTitle.defaultValue}" />
					</ui:fragment>
				</ui:repeat>
			</p:column>

           <p:column headerText="#{i18n['admin.stock.containedIn']}" visible="false">
				<h:outputText value="#{dataset.containingDataStocksAsString}" />	
        	</p:column>

			<p:column id="importDateColumnId" sortBy="#{dataset.importDate}" filterBy="#{dataset.importDate}"
				rendered="#{conf.displayConfig.showManageDatasetImportDate}" width="95" style="white-space:pre-line;"
				exportable="false">
				<f:facet name="header">
					<h:outputText value="#{i18n['common.importDate']}" />
					<p:tooltip escape="false" value="#{i18n['common.importDate.tooltip']} &lt;br /&gt; #{i18n['common.importDate.tooltip.byYear']} &lt;br /&gt; #{i18n['common.importDate.tooltip.byMonth']} &lt;br /&gt; #{i18n['common.importDate.tooltip.byDay']} &lt;br /&gt; #{i18n['common.importDate.tooltip.description']}" for="importDateColumnId"/>
				</f:facet>
				<h:outputText value="#{dataset.importDate}" >
					<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
				</h:outputText>
			</p:column>
			
<!-- 			Only for export -->
			<p:column headerText="#{i18n['common.importDate']}" style="display:none">
				<h:outputText value="#{dataset.importDate}">
					<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
				</h:outputText>
			</p:column>
		</p:dataTable>
	</div>

</ui:composition>
