<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId" value="#{empty dtId ? 'lciamethodTable' : dtId}" />
	<ui:param name="exportedFileName" value="lciMethodTable" />
	<ui:param name="publicShowFacelet" value="showLCIAMethod" />
	<ui:param name="nameFilterField" value="" />

	<ui:define name="columns">

		<p:column headerText="#{i18n['common.type']}">
		    <h:outputText value="#{dataset.type.value}" />
		</p:column>
		
		<p:column headerText="#{i18n['common.dataset.refYear']}">
		    <h:outputText value="#{dataset.timeInformation.referenceYear.value}" />
		</p:column>
		
		<p:column headerText="#{i18n['common.lciam.duration']}">
		    <h:outputText value="#{dataset.timeInformation.duration.value}" />
		</p:column>

	</ui:define>
</ui:composition>