<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:soda="http://java.sun.com/jsf/composite/sodacomp" 
	template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId" value="#{empty dtId ? 'lifeCycleModelTable' : dtId}"/>
	<ui:param name="exportedFileName" value="lifeCycleModelTable" />
	<ui:param name="publicShowFacelet" value="showLifecyclemodel" />
	<ui:param name="nameFilterField" value=""/>


	<ui:define name="columns">

					<!-- Name -->

					<p:column style="width:30%" sortBy="#{dataset.name.defaultValue}"
						filterBy="#{dataset.name}" headerText="#{i18n['common.name']}">

						<h:link outcome="#{url.lifecyclemodel.getDetail(dataset)}"
							value="#{dataset.name.defaultValue}"
							title="#{dataset.uuidAsString}   #{dataset.version}" />

					</p:column>

					<!-- Classification -->

					<p:column style="width:12%"
						sortBy="#{dataset.classification.classHierarchyAsString}"
						headerText="#{i18n['common.dataset.classif']}">
						<h:outputText value="#{dataset.classification.classHierarchyAsString}" />
					</p:column>


					<!-- Owner -->

					<p:column style="width:20%" sortBy="#{dataset.name.defaultValue}"
						filterBy="#{dataset.name}" headerText="#{i18n['common.proc.owner']}">

						<h:outputText outcome="#{url.lifecyclemodel.getDetail(dataset)}"
							value="#{dataset.administrativeInformation.publicationAndOwnership.referenceToOwnershipOfDataSet.shortDescription.getDefaultValue()}"
							title="#{dataset.uuidAsString}   #{dataset.version}" />
					</p:column>

					<!-- Compliance Systems -->

					<p:column style="width:15%" sortBy="#{dataset.complianceSystems}">
						<f:facet name="header">
							<h:outputText id="datasetTableComplianceHeader"
								value="#{i18n['public.proc.complianceSystems']}" />
						</f:facet>

						<p:dataList value="#{dataset.complianceSystems}" var="compliance"
							styleClass="ourDataList" emptyMessage="">
							<h:outputText value="#{compliance.name}" />
						</p:dataList>
					</p:column>


					<!-- Timestamp -->

					<p:column style="width:20%"
						sortBy="#{sample.administrativeInformation.dataEntryBy.timeStamp}"
						filterBy="#{dataset.administrativeInformation.dataEntryBy.timeStamp}"
						headerText="#{i18n['common.timeStamp']}" styleClass="date">

						<!-- 					<h:link outcome="#{url.lifecyclemodel.getDetail(dataset)}"
							value="#{sample.administrativeInformation.dataEntryBy.timeStamp}"
							title="#{dataset.uuidAsString}   #{dataset.version}" /> -->

						<h:outputText
							value="#{dataset.administrativeInformation.dataEntryBy.timeStamp}">
							<!-- <f:convertDateTime pattern="dd.MM.yyyy HH:mm" /> -->
						</h:outputText>
					</p:column>

	</ui:define>

<!-- 	<div class="floatRight">
		<ui:define name="additionalButtons">
			<c:if test="#{includeActions}">
				<h:panelGroup>
					<p:commandButton id="btnValidateSelected" value="#{i18n['admin.validate']}" action="#{processListHandler.validateSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" />
					<p:commandButton id="btnQualityCheckSelected" value="#{i18n['admin.qualityCheck']}" action="#{processListHandler.qualityCheckSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" rendered="#{conf.qqaEnabled}"/>
				</h:panelGroup>
			</c:if>			
			<c:if test="#{showRegistryControls and applicationInfoBean.showRegistrationControls}">
				<ui:include src="/admin/common/include/registrationControls.xhtml">
					<ui:param name="lifecyclemodelListHandler" value="lifecyclemodelListHandler"></ui:param>
					<ui:param name="registrationHandler" value="lifecyclemodelListHandler"></ui:param>
				</ui:include>
				<ui:include src="/admin/common/include/registrationSelector.xhtml">
					<ui:param name="lifecyclemodelListHandler" value="lifecyclemodelListHandler"></ui:param>
				</ui:include>
			</c:if>
		</ui:define>
	</div> -->

</ui:composition>
