<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:soda="http://java.sun.com/jsf/composite/sodacomp" 
	template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId" value="#{empty dtId ? 'processTable' : dtId}"/>
	<ui:param name="exportedFileName" value="processTable" />
	<ui:param name="publicShowFacelet" value="showProcess"/>
	<ui:param name="nameFilterField" value=""/>


	<ui:define name="columns">
		<p:importEnum type="de.fzk.iai.ilcd.service.client.impl.vo.epd.ProcessSubType" var="SubTypeValues" />
		<p:importEnum type="de.fzk.iai.ilcd.service.model.enums.TypeOfProcessValue" var="ProcessTypeValues" />

		<p:column headerText="#{i18n['common.type']}" sortBy="#{dataset.type}" filterBy="#{dataset.type}" rendered="#{conf.displayConfig.showManageProcessType}" width="100">
			<f:facet name="filter">
                <p:selectCheckboxMenu label="#{i18n['public.proc.list.filter.select']}" onchange="PF('dataTable').filter()" panelStyle="width:250px" scrollHeight="120">
                    <f:selectItems value="#{ProcessTypeValues.ALL_VALUES}" var="type" itemValue="#{type}" itemLabel="#{i18n['common.proc.type.'.concat(type)]}" />
                </p:selectCheckboxMenu>
            </f:facet>	
			<h:outputText value="#{dataset.type.value}"/>
		</p:column>

		<p:column headerText="#{i18n['common.proc.subtype']}" sortBy="#{dataset.subType}" filterBy="#{dataset.subType}" rendered="#{conf.displayConfig.showManageProcessSubType}" width="100">
       		<f:facet name="filter">
                <p:selectCheckboxMenu label="#{i18n['public.proc.list.filter.select']}" onchange="PF('dataTable').filter()" panelStyle="width:200px" scrollHeight="120">
                    <f:selectItems value="#{SubTypeValues.ALL_VALUES}" var="subType" itemValue="#{subType}" itemLabel="#{i18n['common.proc.subtype.'.concat(subType)]}" />
                </p:selectCheckboxMenu>
            </f:facet>
			<h:outputText value="#{i18n['common.proc.subtype.'.concat(dataset.subType)]}"/>
		</p:column>

		<p:column headerText="#{i18n['common.dataset.classif']}" sortBy="#{dataset.classification.classHierarchyAsString}" filterBy="#{classes}" rendered="#{conf.displayConfig.showManageDatasetClassification}">
			<h:outputText value="#{dataset.classification.getClassHierarchyAsString(conf.displayConfig.showManageProcessClassificationId)}"/>
		</p:column>

		<p:column headerText="#{i18n['common.dataset.location']}" sortBy="#{dataset.location}" filterBy="#{location}" filterMatchMode="in" rendered="#{conf.displayConfig.showManageProcessLocation}" width="60">
       		<f:facet name="filter">
                <p:selectCheckboxMenu label="#{i18n['public.proc.list.filter.select']}" onchange="PF('dataTable').filter()" panelStyle="width:125px" scrollHeight="280">
                    <f:selectItems value="#{backingBean.locations}" />
                </p:selectCheckboxMenu>
            </f:facet>
			<h:outputText value="#{dataset.geography.location}"/>
		</p:column>
		
		<p:column headerText="#{i18n['common.proc.database']}" filterBy="#{dataSource}" filterMatchMode="in" rendered="#{conf.displayConfig.showManageProcessDatasource}"
				exportable="false">
			<f:facet name="filter">
                <p:selectCheckboxMenu label="#{i18n['public.proc.list.filter.select']}" onchange="PF('dataTable').filter()" scrollHeight="280">
                    <f:selectItems value="#{backingBean.databases}" var="source" itemLabel="#{source.name.defaultValue}" itemValue="#{source.uuid.uuid}" />
                </p:selectCheckboxMenu>
            </f:facet>
			
			<h:outputText value="#{processListHandler.dataSourceListPrinter( dataset)}"/>
		</p:column>
		
<!-- 		Only for exports. -->
		<p:column headerText="#{i18n['common.proc.database']}" visible="false">
			<h:outputText value="#{processListHandler.dataSourceListPrinter( dataset)}"/>
		</p:column>

		<p:column headerText="#{i18n['common.dataset.refYear']}" sortBy="#{dataset.timeInformation.referenceYear}" filterBy="#{referenceYear}" rendered="#{conf.displayConfig.showManageProcessReferenceYear}" width="50" style="white-space:pre-line;">
			<h:outputText value="#{dataset.timeInformation.referenceYear}"/>
		</p:column>

		<p:column id="validUntilColumnId" sortBy="#{dataset.timeInformation.validUntil}" filterBy="#{validUntil}"
				rendered="#{conf.displayConfig.showManageProcessValidUntil}" width="45" style="white-space:pre-line;"
				exportable="false">
			<f:facet name="header">
					<h:outputText value="#{i18n['common.proc.validUntilYear']}"/>
					<p:tooltip value="#{i18n['common.proc.validUntilYear.tooltip']}" for="validUntilColumnId"/>
				</f:facet>
			<h:outputText value="#{dataset.timeInformation.validUntil}"/>
		</p:column>
		
		<p:column headerText="#{i18n['common.proc.validUntilYear']}" style="display:none">
			<h:outputText value="#{dataset.timeInformation.validUntil}"/>
		</p:column>
		
		<p:column headerText="#{i18n['common.proc.owner']}" sortBy="#{dataset.ownerReference}" filterBy="#{owner}" rendered="#{conf.displayConfig.showManageProcessOwner}" width="250" style="white-space:pre-line;">
			<h:outputText value="#{dataset.ownerReference.shortDescription.value}"/>
		</p:column>

		<p:column headerText="#{i18n['common.proc.tag']}" width="80" exportable="false" rendered="#{conf.displayConfig.showManageProcessTags}">
			<ui:repeat var="tag" value="#{dataset.tagsList}">
				<soda:outputTextTooltip outputTextId="tagText"
                    outputTextValue="#{tag.name}"
                    tooltipValue="#{tag.description}" />
                <br/>
			</ui:repeat>
		</p:column>
		
<!-- 		Only for exports. -->
		<p:column headerText="#{i18n['common.proc.tag']}" visible="false">
			<h:outputText value="#{ processListHandler.tagListPrinter( dataset )}"/>
		</p:column>
		
		<p:column headerText="#{i18n['common.referenceToRegistrationAuthority']}" filterBy="#{dataset.referenceToRegistrationAuthority}"
				rendered="#{conf.displayConfig.showManageProcessRegistrationAuthority}">
			<h:outputText rendered="#{not empty dataset.referenceToRegistrationAuthority.shortDescription.value}">
				#{dataset.referenceToRegistrationAuthority.shortDescription.value}
			</h:outputText>
		</p:column>
		
		<p:column headerText="#{i18n['common.registrationNumber']}" filterBy="#{dataset.registrationNumber}"
				rendered="#{conf.displayConfig.showManageProcessRegistrationNumber}">
			<h:outputText rendered="#{not empty dataset.registrationNumber}">
				#{dataset.registrationNumber}
			</h:outputText>
		</p:column>

	</ui:define>

	<div class="floatRight">
		<ui:define name="additionalButtons">
			<c:if test="#{includeActions}">
				<h:panelGroup>
					<p:commandButton id="btnValidateSelected" value="#{i18n['admin.validate']}" action="#{processListHandler.validateSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" />
					<p:commandButton id="btnQualityCheckSelected" value="#{i18n['admin.qualityCheck']}" action="#{processListHandler.qualityCheckSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" rendered="#{conf.qqaEnabled}"/>
				</h:panelGroup>
			</c:if>			
			<c:if test="#{showRegistryControls and applicationInfoBean.showRegistrationControls}">
				<ui:include src="/admin/common/include/registrationControls.xhtml">
					<ui:param name="processListHandler" value="#{processListHandler}"></ui:param>
					<ui:param name="registrationHandler" value="#{processListHandler}"></ui:param>
				</ui:include>
				<ui:include src="/admin/common/include/registrationSelector.xhtml">
					<ui:param name="processListHandler" value="#{processListHandler}"></ui:param>
				</ui:include>
			</c:if>
		</ui:define>
	</div>

</ui:composition>
