<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId" value="#{empty dtId ? 'sourceTable' : dtId}" />
	<ui:param name="exportedFileName" value="sourceTable" />
	<ui:param name="publicShowFacelet" value="showSource" />
	<ui:param name="nameFilterField" value="" />

	<ui:define name="columns">

		<p:column headerText="#{i18n['common.dataset.classif']}" rendered="#{conf.displayConfig.showManageDatasetClassification}">
			<h:outputText
				value="#{dataset.classification.classHierarchyAsString}" />
		</p:column>

	</ui:define>
</ui:composition>