* {
    font-family: Arial, Helvetica, sans-serif !important;   
}

body {
    font-size: 10px;
}

.ui-button {
	display: none !important;	
}

.ui-datatable tbody {
	font-size: 7px !important;
}

.leftmenue {
    display: none;
    width: 0px;
}

#outerTable {    
    width: 100%;
    height: auto;
}

#leftColumn {
    width: 0px;
    height: auto;
    padding:0px;
    margin: 0px;
}

.content {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.footer {
 
}
