<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!--
Parameters for this composition:
	via ui:param:
		processListHandler
-->

	<div class="floatLeft">
		<h:panelGrid columns="2" rendered="#{applicationInfoBean.showRegistrationControls}">
			<h:outputLabel value="#{i18n['admin.proc.registeredIn']}:" for="reg"/>
			<h:selectOneMenu id="reg" value="#{processListHandler.registry}">
				<f:selectItems value="#{registriesSelectItems.items}"/>
					<p:ajax event="valueChange" update="processTable,btnPanelRegDereg,#{diaOpenBtnId}" />
			</h:selectOneMenu>
			<p:spacer width="10" height="10" />
		</h:panelGrid>
	</div>

</ui:composition>
