<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:shiro="http://shiro.apache.org/tags"
	xmlns:p="http://primefaces.org/ui">
	<f:view contentType="text/html" locale="#{localeBean.locale}">
		<h:head>	
			<title>#{pageTitle} - #{conf.applicationTitle} #{i18n['admin.administration']}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta http-equiv="Content-Language" content="en" />
			
			<!-- Following file used for menu highlight hover event binding -->
			<script src="#{conf.contextPath}#{conf.templatePath}/scripts/default.js" type="text/javascript"></script>
			
			<link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/site.css" media="all" />
			<link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/skin.css" media="all" />
			<h:outputStylesheet name="css/admin.css" />
			<h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome-jsf.css"/>
		</h:head>
		
		<h:body onload="initFakeButtons()">
			<p:importConstants type="de.iai.ilcd.util.SodaUtil" var="Constants" />
			<div id="admin_header" class="ui-widget-header">
				<div class="title"><h:link outcome="#{url.adminIndex}" value="#{conf.applicationTitle} - soda4LCA Administration" /></div>
				<h:form rendered="#{conf.developerMode}">
					<p:commandButton action="#{developerSupport.deleteAllData}" value="delete all data"/>
					<p:commandButton action="#{developerSupport.importData}" value="import"/>
					<p:button value="Proc" outcome="#{url.process.manageList}"/>
					<p:button value="LCIAM" outcome="#{url.lciaMethod.manageList}"/>
					<p:button value="elemF" outcome="#{url.eflow.manageList}"/>
					<p:button value="ProdF" outcome="#{url.pflow.manageList}"/>
					<p:button value="FlowP" outcome="#{url.flowProperty.manageList}"/>
					<p:button value="UnitG" outcome="#{url.unitGroup.manageList}"/>
					<p:button value="Sour" outcome="#{url.source.manageList}"/>
					<p:button value="Cont" outcome="#{url.contact.manageList}"/>
					<p:button value="Lcm" outcome="#{url.lifecyclemodel.manageList}"/>
					<p:commandButton action="#{developerSupport.gc}" value="gc"/>
				</h:form>
				<div class="icon-container">
					<p:commandLink class="icon-flag flagg-britannien">
						<f:param name="lang" value="en" />
						<f:ajax render="@all" />
					</p:commandLink>
					<p:commandLink class="icon-flag flagg-deutschland">
						<f:param name="lang" value="de" />
						<f:ajax render="@all" />
					</p:commandLink>
					<p:commandLink class="icon-flag flagg-spanien">
						<f:param name="lang" value="es" />
						<f:ajax render="@all" />
					</p:commandLink>
				</div>
					<div class="floatRight" style="margin-top: 2.2%;" >
						<h:panelGrid columns="2">
							<h:form>
								<ui:fragment rendered="#{availableStocks.allStocksMeta.size() > 1}">
									<p:outputLabel value="#{i18n['common.stock.selected']}: " for="selectDataStock" />
									<p:selectOneMenu id="selectDataStock" class="selectDataStockHTMLClass" value="#{stockSelection.currentStockName}" valueChangeListener="#{stockSelection.stockChangeEventHandler}">
										<f:selectItems value="#{availableStocks.visibleStocksMeta}" var="stock" itemLabel="#{stock.name}" itemValue="#{stock.name}" />
										<f:ajax listener="#{stockSelection.navigate}" />
									</p:selectOneMenu>
								</ui:fragment>
<!-- 								<br/>
								<p:outputLabel value="#{i18n['common.languageSelected']}:" for="selectLanguage" />
								<p:selectOneMenu id="selectLanguage" value="#{languageSelection.currentLanguage}" valueChangeListener="#{languageSelection.languageChangeEventHandler}">
									<f:selectItems value="#{languageSelection.supportedLanguages}" var="language" itemLabel="#{language}" itemValue="#{language}" />
									<f:ajax listener="#{languageSelection.navigate}" />
								</p:selectOneMenu> -->
							</h:form>
						</h:panelGrid>
					</div>
				<div class="ui-helper-clearfix"></div>
			</div>
			
			<ui:include src="/admin/layout/adminMenu.xhtml" />

			<div id="admin_content" class="minMax">
				<h1>#{pageTitle}</h1>
				<div class="story">
					<h:panelGroup rendered="#{not empty pageSubTitle}">
						<h2>#{pageSubTitle}</h2>
					</h:panelGroup>
					<ui:insert name="content">Content</ui:insert>
				</div>
			</div>
			
			<div id="admin_footer" class="ui-widget-header">
				<div id="rightFooter">
					<h:panelGroup>
						<h:link outcome="#{url.privacyPolicy.show}" value="#{i18n['common.privacyPolicy']}" rendered="#{conf.privacyPolicyURL != null}"/>
						<h:outputText value=" | " rendered="#{conf.privacyPolicyURL != null}" />
						<h:link outcome="#{url.imprint.show}" value="#{i18n['common.imprint']}" rendered="#{conf.imprintURL != null}"/>
						<h:outputText value=" | " rendered="#{conf.imprintURL != null}" />
					</h:panelGroup>
					soda4LCA #{conf.appVersion}
				</div>
				<div id="leftFooter">
					#{utilStr['unicodeChar.blackLeftPointer']}
					<h:link outcome="#{url.index}" value="#{i18n['common.backTo']} #{conf.applicationTitle}" />
					|
					<h:panelGroup rendered="#{user.loggedIn}">
						<h:link outcome="#{url.user.profile}" value="#{i18n['common.profile']}" />
						|
						<h:link outcome="#{url.user.password}" value="#{i18n['common.password']}" />
						|
						<h:link outcome="#{url.user.logout}" value="#{i18n['public.user.logout']}" />
						<h:outputText value=" (#{i18n['admin.user']}: #{user.userName})" />
					</h:panelGroup>
					<h:panelGroup rendered="#{not user.loggedIn}">
						<h:link rendered="#{conf.registrationActivated}" outcome="#{url.user.registration}" value="#{i18n['public.user.register']}" />
						<h:outputText rendered="#{conf.registrationActivated}" value=" | " />
						<h:link outcome="#{url.user.login}" value="#{i18n['public.user.login']}" rendered="#{conf.displayConfig.showLoginLink}"/>
					</h:panelGroup>
				</div>
			</div>
			
		</h:body>
	</f:view>
</html>